*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #020410;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
nav{
    height: 50px;
    width: 1200px;
}
nav ul{
    
    float: right;
    right: 0;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
}
nav ul li a{
    color: white;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
.checkbtn{
    position: absolute;
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    right: 3%;
    top: -15%;
    cursor: pointer;
    display: none;
}
#check{
    display: none;

}
/* .navbar ul li a::after{
    content: '';
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translateY(20px);
    transition: 0.5s;
} */
/* .navbar ul li a::after{
    content: '';
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translateY(20px);
    transition: 0.5s;
} */
/* .navbar ul li a:hover::after{
    transform: translateY(0);
    opacity: 1;
} */
.search-bar{
    position: absolute;
    max-width: 200px;
    height: 30px;
    border: 2px solid #e4e4e4;
    background: transparent;
    border-radius: 6px;
    margin: 6px;
    /* display: inline-flex; */
    display: none;
    align-items: center;
}
.search-bar input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
    color: #e4e4e4;
}
.search-bar input::placeholder{
    color: #e4e4e4;
}
.search-bar button{
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    align-items: center;
    display: flex;
    justify-content: center;

}
.search-bar button i {
    font-size: 22px;
    color: #e4e4e4;
    cursor: pointer;
}
.background{
    width: 100%;
    height: 100vh;
    background: url('image/M.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
}
.container{
    position: absolute;
    width: 75%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%
    );
    height: 550px;
    background: url('image/M.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
}
.container .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: transparent;
    padding: 80px;
    color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.container  .logo{
    font-size: 30px;
}
.container h2 {
    font-size: 40px;
}
.container h2 span{
    font-size: 25px;
}
.text-sci h2{
    font-size: 40px;
    line-height: 1;
}
.text-sci h2 span{
    font-size: 25px;
}
.text-sci p{
    font-size: 16px;
    margin: 20px 0;
}
.social-icons a i{
    font-size: 22px;
    color: #e4e4e4;
    margin-right: 10px;
    transition: .5s ease;
}
.social-icons a:hover i {
    transform: scale(1.5);
}
.container .logreg-box{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 50%);
    height: 100%;
    /* background: red; */
    overflow: hidden;

}

/* frame input */

.logreg-box {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.logreg-box .form-box{
    position: absolute;

    justify-content: center;
    align-items: center;
    color: #e4e4e4;
}
.logreg-box .form-box.login{
    transform: translateX(0);
    transition: translateX(0) .6s ease;
}

.logreg-box.active .form-box.login{
    transform: translateX(470px);
    transition-delay: 0s;
}
.logreg-box .form-box.register{
    transform: translateX(470px);
    transition: translateX(470px) .5s ease;
}
.logreg-box.active .form-box.register{
    transform: translateX(0);
    transition-delay: 0;
    
}

/* font Sign in and Sign up */

.form-box h2{
    font-size: 32px;
    text-align: center;
}

/* input style (Email, password, ....)*/

.form-box .input-box{
    position: relative;
    display: flex;
    width: 250px;
    height: 50px;
    border-bottom: 2px solid #e4e4e4;
    margin: 30px 0;

}
@media only screen and (max-width: 1920px) and (min-width: 730px){
    .form-box .input-box{
        width: 130%;
        left: -15%;
    }
} 

.input-box input{
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e9dfdf;
    font-weight: 500;
    padding-right: 28px;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease;
}

/* move input top label */

input[type="text"]:focus + label,
input[type="text"]:valid + label,
input[type="password"]:focus + label, 
input[type="password"]:valid + label{
    top: -6px;
}

/*Input focus sticky top label (email)*/
  .form__input:not(:placeholder-shown).form__input:not(:focus)+.form__label {
    top: -6px;
  }
  
.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}

/* forget password */

.form-box .remember-forgot{
    font-size: 14.5px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #e4e4e4;
    margin-right: 3px;
}
.remember-forgot a {
    color: #e4e4e4;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}

/* button summit */

.btn{
    width: 100%;
    height: 45px;
    background: #c4103d;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: #e4dada;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* register */

.form-box .login-register{
    font-size: 14.5px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}
.login-register p a{
    color: #e4e4e4;
    font-weight: 600;
    text-decoration: none;
}
.login-register p a:hover{
    text-decoration: underline;
}

/* Phon */
@media screen and (max-width: 720px){
    .container{
        position: absolute;
        width: 85%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%
        );
        background: none;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        margin-top: 20px;
    }
    .container .logreg-box{
        position: fixed;
        display: inline-flex;
        margin: -50px 0 0 0;
        height: 85%;
        width: 100%;    
        top: 50px;
        /* background: red; */
        overflow: hidden;
    
    }

    .container .content{
        display: none;
    }
    .checkbtn{
        display: inline-block;
    }

    nav ul{
        position: fixed;
        width: 43%;
        height: 100%;
        backdrop-filter: blur(20px);
        top: 4px;
        right: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        padding-top: 35px;
        display: block;
        margin:10px 0;
        line-height: 30px;
    }
    nav ul li a{
    
        font-size: 15px;
    }
    .checkbtn{
        z-index: 2;
    }
    a:hover , a.active{
        
        transition: .5s;
    }
    #check:checked ~ ul {
        right: -5%;
        z-index: 1;
    }
    .search-bar{
        display: flex;
        z-index: 0;
    }
}