/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*===== VARIABLES CSS =====*/
:root {
  /*===== Colores =====*/
  --first-color: #1A73E8;
  --w-color: #fff;
  --input-color: #80868B;
  --border-color: #DADCE0;
  /*===== Fuente y tipografia =====*/
  --body-font: 'Roboto', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .75rem;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);

}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: url('M.jpg')no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  margin: 0;
  padding: 0;
}

/*===== FORM =====*/
.form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  backdrop-filter: blur(5px);
  position: relative;
  /* width: 400px; */
  height: 450px;
}

.form {
  width: 360px;
  padding: 4rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.form__title {
  font-family: 'poppins',sans-serif;
  text-align: center;
  font-weight: bold;
  margin-bottom: 3rem;
  font-size: 2em;
  color: #fff;
  justify-content: center;
  align-items: center;
  background: linear-gradient( 45deg, #ea5a4d, #ebbf30, #2de4bf, #f2f2f2, #090909);
  background-size: 35%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 4s infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.form__div {
  position: relative;
  height: 48px;
  margin-bottom:2.7rem;
  
}

.form__input {
  font-family: 'poppins',sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #f8f8f4;
  border: 1px solid var(--border-color);
  border-radius: .5rem;
  outline: none;
  font-weight: bold;
  background: transparent;
  padding:0 35px 0 5px;
  padding: 1rem;
  z-index: 1;
}

.form__label {
  font-family: 'poppins',sans-serif;
  position: absolute;
  left: 1rem;
  top: 0.6rem;
  text-align: center;
  padding: 0 .25rem;
  color: var( --w-color);
  font-size: var(--normal-font-size);
  transition: .3s;
}

.form__button {
  display: block;
  margin-left: auto;
  padding: .75rem 2rem;
  outline: none;
  border: none;
  background-color: var(--first-color);
  color: #fff;
  font-family: 'poppins',sans-serif;
  font-size: var(--normal-font-size);
  border-radius: .5rem;
  cursor: pointer;
  transition: .3s;
}

.form__button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

/*Input focus move up label*/
.form__input:focus+.form__label {
  top: -1.5rem;
  left: -.1rem;
  color: var( --w-color);
  font-size: 16px;
  font-weight: 500;
  z-index: 10;
}

/*Input focus sticky top label*/
.form__input:not(:placeholder-shown).form__input:not(:focus)+.form__label {
  top: -1.5rem;
  left: -.1rem;
  font-size: 16px;
  font-weight: 200;
  z-index: 10;
}

/*Input focus*/
.form__input:focus {
  border: 1.5px solid var( --w-color);
}